.li-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ri-flex {
  display: flex;
  align-items: center;
}
.bu-flex {
  display: flex;
  margin-top: 12px;
}
.bu-flex button {
  margin-right: 12px;
}
#filter-container {
  height: 60px;
  display: flex;
  align-items: flex-end;
  background: darkgray;
  padding: 12px 12px 0 12px;
}
mat-form-field {
  margin-right: 12px;
}
