.li-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ri-flex {
  display: flex;
  align-items: center;
}
.bu-flex {
  display: flex;
  margin-top: 12px;
}
.bu-flex button {
  margin-right: 12px;
}
