<mat-list *ngIf="username">
  <mat-list-item>
    <h1>{{ username }}</h1>
  </mat-list-item>
  <mat-list-item *ngFor="let note of notes">
    <div class="li-flex">
      <div>
        {{ note.content }}
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon svgIcon="pencil"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="delete-forever"></mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="bu-flex">
      <button mat-raised-button (click)="openAddNoteDialog()">Add note</button>
      <button mat-raised-button (click)="openDeleteDialog()">
        Delete user
      </button>
    </div>
  </mat-list-item>
</mat-list>
